# <span style = "color:#012030">Online Shop Sales Data Analysis </span>
 
## <span style = "color:#012030">Author</span> :<span style = "color:#38D0F2">Thapelo Maloka (217004340)</span>
## <span style = "color:#012030">Due Date</span> :<span style = "color:#38D0F2">14 April 2023</span>
## <span style = "color:#012030">Data Source</span> :<span style = "color:#38D0F2">https://www.kaggle.com/datasets/onlineretailshop/online-shop-customer-sales-data</span>

## <span style = "color:#012030">GitHub Link</span> :<span style = "color:#38D0F2">Thapelo Maloka (217004340)</span>

# <span style = "color:#38D0F2">Import Relevant Libraries</span>

In [35]:
import pandas as pd

# <span style = "color:#38D0F2">Import My Data File In the Format of CSV</span>

In [94]:
# Read the CSV file into a DataFrame.
sales_data = pd.read_csv('./Online_Shop_Customer_Sales_Data.csv')

## <span style = "color:#38D0F2">View the 1st twenty rows of the data to see if it Importaed succesfully</span>

In [95]:
sales_data.head(20)

,Customer_id,Age,Gender,Revenue_Total,N_Purchases,Purchase_DATE,Purchase_VALUE,Pay_Method,Time_Spent,Browser,Newsletter,Voucher
0,504308,53,0,45.3,2,22.06.21,24.915,1,885,0,0,0
1,504309,18,1,36.2,3,10.12.21,2.896,2,656,0,0,1
2,504310,52,1,10.6,1,14.03.21,10.600,0,761,0,1,0
3,504311,29,0,54.1,5,25.10.21,43.280,1,906,0,1,0
4,504312,21,1,56.9,1,14.09.21,56.900,1,605,0,1,0
5,504313,55,0,13.7,6,14.05.21,12.467,1,364,1,0,0
6,504314,17,1,30.7,6,09.01.21,2.456,0,654,0,0,0
7,504315,30,1,8.1,7,28.03.21,6.561,3,1011,0,0,0
8,504316,51,0,18.0,4,04.08.21,11.880,0,312,3,1,0
9,504317,63,1,19.2,4,06.10.21,11.904,3,828,0,0,0
10,504318,26,0,36.5,5,31.12.21,31.390,2,1029,0,0,1
11,504319,42,1,14.0,4,22.11.21,4.340,3,479,1,0,0
12,504320,40,0,14.7,2,02.08.21,2.940,3,645,0,0,0
13,504321,19,0,37.4,4,07.05.21,15.334,3,501,1,0,0
14,504322,30,1,15.4,1,02.05.21,15.400,3,802,2,0,0
15,504323,60,0,28.7,7,04.06.21,0.861,3,804,0,0,0
16,504324,22,0,39.7,3,22.02.21,30.569,2,931,3,0,0
17,504325,39,1,5.1,3,13.07.21,1.530,3,911,3,1,0
18,504326,21,1,43.9,6,13.09.21,19.755,1,468,0,0,1
19,504327,20,1,36.4,6,16.01.21,14.560,2,714,0,0,0

# <span style = "color:#38D0F2">Data Cleaning</span>

### <span style = "color:#38D0F2">Check for Missing Values</span>

In [96]:
# Check for missing values
missing_values = sales_data.isna()

# Count the number of missing values in each column
num_missing = missing_values.sum()

# Print the number of missing values in each column
print(num_missing)

Customer_id       0
Age               0
Gender            0
Revenue_Total     0
N_Purchases       0
Purchase_DATE     0
Purchase_VALUE    0
Pay_Method        0
Time_Spent        0
Browser           0
Newsletter        0
Voucher           0
dtype: int64

### <span style = "color:#38D0F2">For each row it appears that there are no missing vaues</span>
### <span style = "color:#38D0F2">Check for data types</span>

In [97]:
sales_data.dtypes

Customer_id         int64
Age                 int64
Gender              int64
Revenue_Total     float64
N_Purchases         int64
Purchase_DATE      object
Purchase_VALUE    float64
Pay_Method          int64
Time_Spent          int64
Browser             int64
Newsletter          int64
Voucher             int64
dtype: object

## <span style = "color:#38D0F2">Replace 0 with 'Male' and 1 with 'Female' in the Gender column</span> 
## <span style = "color:#38D0F2">Replace 0 with Chrome, 1 with Safari, 2 with Edge, 3 with Other in the Browser column</span>
## <span style = "color:#38D0F2">Replace 0 with Digital Wallets, 1 with Card, 2 with PayPal, 3 with Other in the Pay Method column</span>
## <span style = "color:#38D0F2">Replace 0 with not subscribed, 1 with subscribed in the Newsletter column</span>
## <span style = "color:#38D0F2">Replace 0 with not used, 1 with used in the Voucher column</span>

In [98]:
sales_data['Gender'] = sales_data['Gender'].replace({0: 'Male', 1: 'Female'})

# Replace values in the Browser column
sales_data['Browser'] = sales_data['Browser'].replace({0: 'Chrome', 1: 'Safari', 2: 'Edge', 3: 'Other'})

# Replace values in the Pay Method column
sales_data['Pay_Method'] = sales_data['Pay_Method'].replace({0: 'Digital Wallets', 1: 'Card', 2: 'PayPal', 3: 'Other'})

# Replace values in the Newsletter column
sales_data['Newsletter'] = sales_data['Newsletter'].replace({0: 'not subscribed', 1: 'subscribed'})

# Replace values in the Voucher column
sales_data['Voucher'] = sales_data['Voucher'].replace({0: 'not used', 1: 'used'})

## <span style = "color:#38D0F2"> Create a new Column with the Month only</span>

In [130]:
sales_data['Month'] = sales_data['Purchase_DATE'].str[3:5]

sales_data.head()

,Customer_id,Age,Gender,Revenue_Total,Number_Purchases,Purchase_DATE,Purchase_VALUE,Pay_Method,Time_Spent(Sec),Browser,Newsletter,Voucher,Month
0,504308,53,Male,45.3,2,22.06.21,24.915,Card,885,Chrome,not subscribed,not used,06
1,504309,18,Female,36.2,3,10.12.21,2.896,PayPal,656,Chrome,not subscribed,used,12
2,504310,52,Female,10.6,1,14.03.21,10.600,Digital Wallets,761,Chrome,subscribed,not used,03
3,504311,29,Male,54.1,5,25.10.21,43.280,Card,906,Chrome,subscribed,not used,10
4,504312,21,Female,56.9,1,14.09.21,56.900,Card,605,Chrome,subscribed,not used,09

## <span style = "color:#38D0F2"> Convert the new Column Month into an Interger </span>

In [131]:
sales_data['Month'].astype(int)

0         6
1        12
2         3
3        10
4         9
         ..
65791     2
65792     2
65793    10
65794    12
65795    10
Name: Month, Length: 65796, dtype: int32

## <span style = "color:#38D0F2">Rename the the N_Purchases to Number_Purchases & Time_Spent to Time_Spent(Sec) Column</span>

In [132]:
sales_data.rename(columns = {'Time_Spent' : 'Time_Spent(Sec)', 'N_Purchases' : 'Number_Purchases'},inplace = True) 

sales_data.to_csv('Sales_Data_Final.csv', index=False)

# <span style = "color:#38D0F2">Read In the New Cleaned Data that is Edited to work with. </span>

In [133]:
sales_clean_data.dtypes

Customer_id           int64
Age                   int64
Gender               object
Revenue_Total       float64
Number_Purchases      int64
Purchase_DATE        object
Purchase_VALUE      float64
Pay_Method           object
Time_Spent(Sec)       int64
Browser              object
Newsletter           object
Voucher              object
Month                 int64
dtype: object

In [134]:
sales_clean_data.sort_values(by="Month")

,Customer_id,Age,Gender,Revenue_Total,Number_Purchases,Purchase_DATE,Purchase_VALUE,Pay_Method,Time_Spent(Sec),Browser,Newsletter,Voucher,Month
34554,538862,58,Female,30.1,2,26.01.21,23.177,Other,846,Chrome,not subscribed,not used,1
5094,509402,27,Female,8.3,3,10.01.21,6.308,Digital Wallets,244,Chrome,not subscribed,not used,1
12322,516630,36,Female,36.4,4,06.01.21,26.936,PayPal,759,Safari,not subscribed,not used,1
43306,547614,41,Female,11.4,2,29.01.21,9.120,Digital Wallets,907,Safari,subscribed,not used,1
29911,534219,30,Female,12.9,1,26.01.21,12.900,Other,329,Safari,not subscribed,not used,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9917,514225,51,Female,27.8,7,25.12.21,7.506,Other,667,Edge,subscribed,not used,12
31474,535782,31,Female,13.9,6,30.12.21,5.421,Digital Wallets,1001,Safari,not subscribed,used,12
9921,514229,27,Female,29.0,7,24.12.21,10.730,PayPal,856,Safari,not subscribed,not used,12
59405,563713,19,Female,38.9,3,22.12.21,22.951,PayPal,300,Chrome,subscribed,used,12
21390,525698,55,Female,11.5,3,10.12.21,2.300,Digital Wallets,665,Chrome,subscribed,not used,12